<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <!-- SMTP settings -->
  <system.net>
	<mailSettings>
	  <smtp from="fromAddress@domain.com">
		<network host="127.0.0.1" port="25" enableSsl="true"
            userName="username" password="password"/>
	  </smtp>
	</mailSettings>
  </system.net>
</configuration>